<div class="container">
  <img class="bg-image" src="assets/images/wall.webp" />

  <label class="title-image-display-time">Tempo até trocar uma imagem:</label>

  <button id="btn-display-time-down-id" class="btn-display-time-down">
    <img class="img-btn-display-time-down" src="assets/svgs/caret-down-fill.svg" />
  </button>
  <button id="btn-display-time-up-id" class="btn-display-time-up">
    <img class="img-btn-display-time-up" src="assets/svgs/caret-up-fill.svg" />
  </button>
  <input id="input-image-display-time-id" class="input-image-display-time" type="number" min="1" step="1" />
  <label class="label-seconds-image-display-time">Segundos</label>

  <button id="btn-back-id" class="btn-back">Voltar</button>

  <div class="about">
    <label>Desenvolvido por Juan Lucas Cardoso - 05/2026</label>
    <a href="https://github.com/Juan-jl">https://github.com/Juan-jl</a>
    <label>v1.0</label>
  </div>
</div>